@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #e0e0e0;
    background-color: #26292c;
    text-align: justify;
    text-justify: inter-word;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 0;
}

.titulo {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

label {
    color: #e0e0e0;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    /* diminui em 10 pixels */
}

.campo input[type="password"] {
    background-color: #26292c;
    border: 1px solid #ffffff;
    border-radius: 50px;
    width: 250px;
    height: 36px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.campo input[type="text"] {
    background-color: #26292c;
    border: 1px solid #ffffff;
    border-radius: 50px;
    width: 250px;
    height: 36px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.campo input[type="date"] {
    background-color: #26292c;
    border: 1px solid #ffffff;
    border-radius: 50px;
    width: 250px;
    height: 36px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.b1 {
    width: 356px;
    height: 35px;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border: none;
    margin-bottom: 8px;
    color: #e0e0e0;
    font-size: 20px;
    cursor: pointer;
}

.b2 {
    width: 356px;
    height: 35px;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border: none;
    color: #e0e0e0;
    font-size: 20px;
    cursor: pointer;
}