@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body {
    margin: 0;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.App {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.form-container {
    height: 100vh;
    width: 50%;
    padding: 0;
    margin-left: 100px;
}

.image-container {
    height: 100vh;
    width: 50%;
    padding: 0;
    margin: 0;
}

.img {
    width: 100vh;
    height: 100vh;
    text-align: right;
}

.logo {
    position: absolute;
    left: 800px;
    top: 36px;
}