@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body {
    margin: 0;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-container {
    height: 50vh;
}

.image-container {
    height: 50vh;
}

.img {
    width: 100vh;
    height: 100vh;
    text-align: right;
}